@import "reset.css";
@import "status-bar.css";

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFFFFF; /* white color in hex code */

}

.hidden {
    display: none;
}

.welcome-header {
    margin-top:350px;
    text-align: center;
}

.welcome-header__title {
    margin-bottom : 40px;
    font-size: 170px;
}

.welcome-header__greeting {
    font-size: 70px;
    font-weight: condensed;
}

.quotes {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
    font-size:20px
}

.todo {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    z-index: 1; /* add this */
    overflow-y: auto; /* add this to add a scrollbar */
}

